#ignore all .pdf files
#*.pdf











.fake
group_project/fasto/Fasto/Parser.fsyacc.output
group_project/fasto/Fasto/bin/Debug/net7.0/Fasto.deps.json
group_project/fasto/Fasto/bin/Debug/net7.0/Fasto.dll
group_project/fasto/Fasto/bin/Debug/net7.0/Fasto.exe
group_project/fasto/Fasto/bin/Debug/net7.0/Fasto.pdb
group_project/fasto/Fasto/bin/Debug/net7.0/Fasto.runtimeconfig.json
group_project/fasto/Fasto/bin/Debug/net7.0/FSharp.Core.dll
group_project/fasto/Fasto/bin/Debug/net7.0/FsLexYacc.Runtime.dll
group_project/fasto/Fasto/bin/Debug/net7.0/cs/FSharp.Core.resources.dll
group_project/fasto/Fasto/bin/Debug/net7.0/de/FSharp.Core.resources.dll
group_project/fasto/Fasto/bin/Debug/net7.0/es/FSharp.Core.resources.dll
group_project/fasto/Fasto/bin/Debug/net7.0/fr/FSharp.Core.resources.dll
group_project/fasto/Fasto/bin/Debug/net7.0/it/FSharp.Core.resources.dll
group_project/fasto/Fasto/bin/Debug/net7.0/ja/FSharp.Core.resources.dll
group_project/fasto/Fasto/bin/Debug/net7.0/ko/FSharp.Core.resources.dll
group_project/fasto/Fasto/bin/Debug/net7.0/pl/FSharp.Core.resources.dll
group_project/fasto/Fasto/bin/Debug/net7.0/pt-BR/FSharp.Core.resources.dll
group_project/fasto/Fasto/bin/Debug/net7.0/ru/FSharp.Core.resources.dll
group_project/fasto/Fasto/bin/Debug/net7.0/tr/FSharp.Core.resources.dll
group_project/fasto/Fasto/bin/Debug/net7.0/zh-Hans/FSharp.Core.resources.dll
group_project/fasto/Fasto/bin/Debug/net7.0/zh-Hant/FSharp.Core.resources.dll
group_project/fasto/Fasto/obj/Fasto.fsproj.nuget.dgspec.json
group_project/fasto/Fasto/obj/Fasto.fsproj.nuget.g.props
group_project/fasto/Fasto/obj/Fasto.fsproj.nuget.g.targets
group_project/fasto/Fasto/obj/project.assets.json
group_project/fasto/Fasto/obj/project.nuget.cache
group_project/fasto/Fasto/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.fs
group_project/fasto/Fasto/obj/Debug/net7.0/apphost.exe
group_project/fasto/Fasto/obj/Debug/net7.0/Fasto.AssemblyInfo.fs
group_project/fasto/Fasto/obj/Debug/net7.0/Fasto.AssemblyInfoInputs.cache
group_project/fasto/Fasto/obj/Debug/net7.0/Fasto.assets.cache
group_project/fasto/Fasto/obj/Debug/net7.0/Fasto.dll
group_project/fasto/Fasto/obj/Debug/net7.0/Fasto.fsproj.AssemblyReference.cache
group_project/fasto/Fasto/obj/Debug/net7.0/Fasto.fsproj.CopyComplete
group_project/fasto/Fasto/obj/Debug/net7.0/Fasto.fsproj.CoreCompileInputs.cache
group_project/fasto/Fasto/obj/Debug/net7.0/Fasto.fsproj.FileListAbsolute.txt
group_project/fasto/Fasto/obj/Debug/net7.0/Fasto.genruntimeconfig.cache
group_project/fasto/Fasto/obj/Debug/net7.0/Fasto.pdb
group_project/fasto/Fasto/obj/Debug/net7.0/ref/Fasto.dll
group_project/fasto/Fasto/obj/Debug/net7.0/refint/Fasto.dll
